@charset "UTF-8"


body {

	background-image: url("bk1.jpg");
}



ul {
	font-size: 30px;
	color: white;
	padding: 2em 2em;
	opacity: 1.0;
	list-style: none;
	word-spacing: 150px;
	margin width: 0px;
	margin: 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 40px;
    margin-left: 40px;
   background-color: #ec1c24;
	
}


h1{ 

color: white;
font-size: 30px;
background-color: d1d088;
margin width: 0px;
	margin: 0px 0px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 350px;
    margin-left: 350px;


 }

 li {

	color: white;
	font-size: 27px;
	background-color: 952000;
	

	border:3px; border-style:solid; border-color:ac5e5e; padding: 1em;
	margin: 0px 0px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 350px;
    margin-left: 350px;
}

ol{
color: white;
	font-size: 27px;
	background-color: 6f9796;
	

	border:2px; border-style:solid; border-color:#FF0000; padding: 1em;
	margin: 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right:0px;
    margin-left: 0px;

}