@charset "UTF-8"


body {

	background-image: url("bk1.jpg");
}



ul {
	font-size: 30px;
	color: white;
	padding: 2em 2em;
	opacity: 1.0;
	list-style: none;
	word-spacing: 150px;
	margin width: 0px;
	margin: 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 40px;
    margin-left: 40px;
   background-color: #273444;
	
}


h1{ 

color: white;
font-size: 60px;
background-color: 918b7d;
margin width: 0px;
	margin: 0px 0px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;


 }

 h2{

color: white;
font-size: 48px;
background-color: 918b7d;
margin width: 0px;
	margin: 0px 0px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 350px;
    margin-left: 350px;

 }

 li {

	color: white;
	font-size: 27px;
	background-color: 918b7d;
	

	border:3px; border-style:solid; border-color:476d99; padding: 1em;
	margin: 0px 0px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 350px;
    margin-left: 350px;
}

ol{
color: white;
	font-size: 27px;
	background-color: 213a46;
	

	border:2px; border-style:solid; border-color:527db0; padding: 1em;
	margin: 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right:0px;
    margin-left: 0px;

}